*{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}

body {
    background-image: url(imagens/pizzablur.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    /* height: auto; */
}

header {
    position: sticky;
    top: 0;
}

.logo {
    background-image: url(imagens/bg_2.jpg);
    background-position: bottom;

    
}

.logo > img{
    width: 100%;
    max-width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px;
}

main {
    color: black;

}

h1 {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    text-align: center;
    padding: 15px 0px;
    color: white;
    background-color: #000000;
    padding: 16px;
    
}

.promo1 > a > img {
    width: 100%;
    max-width: 970px;
}

.promo1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    border: #067cca 2px dashed;
    padding: 15px;
    background-color: rgb(0, 0, 0);
}

nav ul li {
    display: inline-block;
    margin-right: 10px; 
}

nav a {
    text-decoration: none;
    color: #ece8e8; 
    font-weight: bold;
    font-size: 24px; 
    transition: color 0.3s;

}

nav a:hover{
    color: rgb(0, 117, 196);
}


.redesocial{
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 1.5rem;
    justify-content:center;
    
}
footer{
    background-color: #dbdbdb;
    color: #53565a;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;

}

footer p {
    text-align: justify;
    padding-top: 15px;
    width: 100%;
    max-width: 970px;
    margin: 0px auto;
}

.redesocial a{
    transition: color 0.3s;
    
}

.redesocial a:visited{
    color: #53565a;
}

.redesocial a:hover{
    color: rgb(0, 117, 196);
}

.manutencao{
    text-align: center;
}
.manutencao img{
    width: 70%;
}

.back {
    text-align: center;
}
  
.back a {
    display: inline-block;
    vertical-align: middle;
    transition: color 0.3s;
    text-decoration: none;
    background-color: #000000;
    padding: 10px;
    margin: 16px;

}

.back a:visited{
    color: #1b1b1b;
}

.back a:hover{
    color: rgb(255, 0, 0)
}

.titulo h1{
    color: white;
    background-color: #000000;
    padding: 16px;
}

.ceo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.ceo img {
  width: 25%;
  border-radius: 90%;
  border: solid 3px #000000;
  margin: 0 10px;
}

.ceo h2 {
  margin: 10px 0;
}

.tudo{
    position: relative;
}
  
