*{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
    /* background-color: #e8e8e8; */
}

body {
    width: 75vw;
    margin: auto;
    background-color: #F6F6F6;
}

.logo {
    /* background-color: black; */
    background-image: url(imagens/bg-tezt.jpg);
    
}

.logo > img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


header {
    display: flex;
    width: 1200px;
    height: 35px;
    justify-content: center;
}

nav {
    display: flex;
    align-items: end;
    margin-bottom: 3px;
}

ul {
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    gap: 20px;

}

a {
    color: red;
    text-decoration: none;
}

main {
    /* background-color: rgba(0, 0, 0, 0.76); */
    color: black;

}

h1 {
    text-align: center;
    padding: 15px 0px;
}

.promo1 > img {
    width: 65%;
}

.promo1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}