*{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}

body {
    width: 75vw;
    margin: auto;
    background-image: url(imagens/homem-aranha-bg.jpg);
}

.logo {
    background-color: black;
}

.logo > img{
    width: 100%;
    height: 100px;
}

header {
    display: flex;
    background-color: blue;
    width: 100;
    height: 100px;
    justify-content: center;
}

<<<<<<< Updated upstream
nav {
=======
.miras{
    align-items: center;
    width: 20%;
}
.promo > img{
    width: 45%;
}

.promo{
    text-align: center;
>>>>>>> Stashed changes
    display: flex;
    align-items: end;
    margin-bottom: 3px;
}

ul {
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    gap: 20px;

}

a {
    color: red;
    text-decoration: none;
}

main {
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}

h1 {
    text-align: center;
    padding: 15px 0px;
}

.promo1 > img {
    width: 700px;
    height: 350px;
}
