*{
    /* margin: 0;
    padding: 0; */
    font-family: 'Sora', sans-serif;
    /* background-color: #e8e8e8; */
}

body {
    /* width: 75%; */
    /* margin: auto; */
    background-color: #E6E8E6;
}

.logo {
    /* background-color: black; */
    background-image: url(imagens/bg-tezt.jpg);
    background-position: bottom;
    margin: 0px 300px;
    
}

.logo > img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px;
}

main {
    /* background-color: rgba(0, 0, 0, 0.76); */
    color: black;

}

h1 {
    text-align: center;
    padding: 15px 0px;
}

.promo1 > img {
    width: 970px;
}

.promo1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    border: #067cca 2px dashed;
    padding: 5px;
    margin: 0px 300px;
    background-color: rgb(0, 0, 0);
}

nav ul li {
    display: inline-block;
    margin-right: 10px; 
}

nav a {
    text-decoration: none;
    color: #ece8e8; 
    font-weight: bold;
    font-size: 24px; 
    transition: color 0.3s;

}

nav a:hover{
    color: rgb(0, 117, 196);
}

footer{
    background-color: #dbdbdb;
    color: #53565a;
}

footer p h1{
    text-align: center;
}

footer p {
    margin: 0px 300px;
    text-justify:distribute;
}
