*{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
    /* background-color: #e8e8e8; */
}

body {
    /* width: 75%; */
    /* margin: auto; */
    /* background-repeat: no-repeat; */
    background-image: url(imagens/pizzablur.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: auto;
}

header {
    position: sticky;
    top: 0;
}

.logo {
    /* background-color: black; */
    background-image: url(imagens/bg_2.jpg);
    background-position: bottom;

    
}

.logo > img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px;
}

main {
    /* background-color: rgba(0, 0, 0, 0.76); */
    color: black;

}

h1 {
    text-align: center;
    padding: 15px 0px;
    color: white;
    background-color: #000000;
    margin: 10px 580px;
    padding: 16px;
    
}

.promo1 > a > img {
    width: 970px;
}

.promo1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    border: #067cca 2px dashed;
    padding: 15px;
    background-color: rgb(0, 0, 0);
}

nav ul li {
    display: inline-block;
    margin-right: 10px; 
}

nav a {
    text-decoration: none;
    color: #ece8e8; 
    font-weight: bold;
    font-size: 24px; 
    transition: color 0.3s;

}

nav a:hover{
    color: rgb(0, 117, 196);
}

footer{
    background-color: #dbdbdb;
    color: #53565a;
    padding-top: 15px;
}

footer p h1{
    text-align: center;
}

footer p {
    padding-top: 15px;
    margin: 0px 300px;
    text-justify:distribute;

}

.redesocial{
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 1.5rem;
    margin-left: 300px ;

}

.redesocial a{
    transition: color 0.3s;
    
}

.redesocial a:visited{
    color: #53565a;
}

.redesocial a:hover{
    color: rgb(0, 117, 196);
}

.manutencao{
    text-align: center;
}
.manutencao img{
    width: 70%;
}

.back {
    text-align: center;
}
  
.back a {
    display: inline-block;
    vertical-align: middle;
    transition: color 0.3s;
    text-decoration: none;
    background-color: #000000;
    padding: 10px;
    margin: 16px;

}

.back a:visited{
    color: #1b1b1b;
}

.back a:hover{
    color: rgb(255, 0, 0)
}
  
/* body ::before{
    
    content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(imagens/tste.jpg);
  background-size: cover;
  filter: blur(0px);
  z-index: -100;
    
} */

.titulo h1{
    color: white;
    background-color: #000000;
    margin: 10px 580px;
    padding: 16px;
}

.ceo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Empilha os itens verticalmente */
  text-align: center;
}

.ceo img {
  width: 25%;
  border-radius: 90%;
  border: solid 3px #000000;
  margin: 0 10px;
}

.ceo h2 {
  margin: 10px 0;
}

  
  
